
# The access restrictions in this file are probably unnecessary

IndexIgnore *

# The only .java file here should be Algorithms.java. so <files Algorithms.java> should be enough
# Unfortunately, with Eclipse we don't find the option to export a WAR file with custom contents in the classes directory
# Instead, we select "Export source files" when exporting the WAR file, which will export all the .java files

<files *.java>
	order allow,deny
	deny from all
</files>
