<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>offload</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
      <listener-class>
          serverClasses.ManagementMethodsDB
      </listener-class>
  </listener>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>serverClasses.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>serverClasses.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/management/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>serverClasses.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>serverClasses.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/management/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>runAlgs</servlet-name>
    <servlet-class>serverClasses.RunAlgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>runAlgs</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updAndCompAlgs</servlet-name>
    <servlet-class>serverClasses.UpdAndCompAlgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updAndCompAlgs</servlet-name>
    <url-pattern>/management/updAndCompAlgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>generateDB</servlet-name>
    <servlet-class>serverClasses.GenerateCostsDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateDB</servlet-name>
    <url-pattern>/management/generateDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>isDbReady</servlet-name>
    <servlet-class>serverClasses.IsDbReady</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isDbReady</servlet-name>
    <url-pattern>/management/isDbReady</url-pattern>
  </servlet-mapping>
</web-app>